<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/generics">ชื่อสามัญ (Generic Name)</a>
  <span class="breadcrumb-item active">แก้ไขข้อมูลชื่อสามัญ (Generic Name)</span>
</nav>
<div class="progress loop" *ngIf="loading">
  <progress></progress>
</div>

<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1" (click)='tapGeneric()' >ข้อมูลชื่อสามัญ (Generic Name)</button>
    <clr-tab-content id="content1" *clrIfActive>
      <form style="padding: 15px;">

        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="form-group row">
                <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                      <label for="isActive">&nbsp;</label>
                    </div> -->

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label class="required" for="txtGenericName">Generic Name</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input class="form-control" type="text" (keyup)="keytype()" name="txtGenericName" [(ngModel)]="genericName" placeholder="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div style="float: left">Generic Code</div>
                  <div style="float: left;font-size: 2em">&nbsp;{{workingCode}}</div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <clr-checkbox id="isActive" class="checkbox-inline"  (change)="keytype()" name="isActive" [(ngModel)]="isActive">
                    ใช้งาน
                  </clr-checkbox>
                </div>


              </div>
              <div class="form-group row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label class="required" for="slType">หมวดสินค้า</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="select form-control">
                    <select name="slType" id="slType" (change)="keytype()" [(ngModel)]="typeId">
                      <option *ngFor="let t of genericTypes" [value]="t.generic_type_id">{{ t.generic_type_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <label class="required">Base Unit</label>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="select">
                      <select id="selects_4" name="primaryUnitId" (change)="selectBaseUnit();keytype()" [(ngModel)]="primaryUnitId">
                        <option *ngFor="let u of primaryUnits" [value]="u.unit_id">{{u.unit_name}}</option>
                      </select>
                    </div>
                  </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="slPackage">รูปแบบ</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="select form-control">
                    <select name="slPackage" id="slPackage"  (change)="keytype()" [(ngModel)]="dosageId">
                      <option *ngFor="let t of genericDosages" [value]="t.dosage_id">{{ t.dosage_name }}</option>
                    </select>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="tProduct">ประเภทยา</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div class="select form-control">
                    <select name="tProduct" id="tProduct" (change)="keytype()" [(ngModel)]="pTypeId">
                      <!-- <option value="">ไม่ระบุ</option> -->
                      <option *ngFor="let t of typeProduct" [value]="t.id">{{ t.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="bidTypeId">รูปแบบจัดซื้อ</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="select">
                    <select id="bidTypeId" name="bidTypeId" (change)="keytype()" [(ngModel)]="bidTypeId">
                      <!-- <option value="">ไม่ระบุ</option> -->
                      <option [value]="b.bid_id" *ngFor="let b of bidTypes">{{ b.bid_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label for="planningUnitGenericId">UOM สำหรับจัดทำแผน</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div class="select">
                    <select id="planningUnitGenericId" name="planningUnitGenericId" (change)="keytype()" [(ngModel)]="planningUnitGenericId">
                      <option *ngFor="let u of conversions" [value]="u.unit_generic_id">{{u.from_unit_name}} x {{u.qty}} {{u.to_unit_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="mLabelerName">Keywords</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <input type="text" style="width: 100%; text-align: right;" name="keyword" (keyup)="keytype()" [(ngModel)]="keywords">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="rdoCost">ราคากลาง</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="select">
                    <select [(ngModel)]="type" name="type" (change)="selectType();keytype()">
                      <option [value]="1">(Pack)</option>
                      <option [value]="2" selected>(Base Unit)</option>
                    </select>
                  </div>
                </div>
                <!-- <div *ngIf="type==1"> -->
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" *ngIf="type==1">
                    <input type="number" style="width: 100%; text-align: right;" name="convers" [(ngModel)]="convers" placeholder="จำนวน/แพ็ค"
                      (keyup)="keytype()">
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" *ngIf="type==1">
                    <input class="form-control" type="text" (keyup)="keytype()" [disabled]="true" name="unitName" [(ngModel)]="unitName">
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" *ngIf="type==1">
                    <input type="number" style="width: 100%; text-align: right;" name="packCost" [(ngModel)]="packCost" placeholder="ราคาต่อแพ็ค"
                      (keyup)="calPackCost();keytype()">
                  </div>
                <!-- </div> -->
                <div *ngIf="type==2">
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <input type="number" (keyup)="keytype()" style="width: 100%; text-align: right;" name="standardCost" [(ngModel)]="standardCost">
                  </div>
                </div>

                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="group">บัญชียาหลัก</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div class="select form-control">
                    <select name="drugAccountId" id="drugAccountId" (change)="keytype()" [(ngModel)]="drugAccountId">
                      <!-- <option value="">ไม่ระบุ</option> -->
                      <option *ngFor="let t of drugAccounts" [value]="t.account_id">{{ t.account_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="group">ED</label>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <div class="select">
                    <select [(ngModel)]="edId" name="edId" (change)="keytype()">
                      <option *ngFor="let g of ed" [value]="g.ed_id">{{g.ed_name}}</option>
                      <option value="null">-</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="group">กลุ่มยา</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div class="select">
                    <select [(ngModel)]="groupId1" name="groupId1" (change)="getGenericGroup2();keytype();">
                      <option *ngFor="let g of genericGroup1" [value]="g.group_code_1">{{g.group_code_1}} - {{g.group_name_1}}</option>
                      <option value="null"></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div class="select">
                    <select [(ngModel)]="groupId2" name="groupId2" (change)="getGenericGroup3();keytype();" [disabled]="!groupId1 || genericGroup2.length === 0">
                      <option *ngFor="let g of genericGroup2" [value]="g.group_code_2">{{g.group_code_2}} - {{g.group_name_2}}</option>
                      <option value="null"></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <div class="select">
                    <select [(ngModel)]="groupId3" name="groupId3" (change)="getGenericGroup4();keytype();" [disabled]="!groupId2 || genericGroup3.length === 0">
                      <option *ngFor="let g of genericGroup3" [value]="g.group_code_3">{{g.group_code_3}} - {{g.group_name_3}}</option>
                      <option value="null"></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="select">
                    <select [(ngModel)]="groupId4" name="groupId4" (change)="keytype()" [disabled]="!groupId3 || genericGroup4.length === 0">
                      <option *ngFor="let g of genericGroup4" [value]="g.group_code_4">{{g.group_code_4}} - {{g.group_name_4}}</option>
                      <option value="null"></option>
                    </select>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="form-group row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <clr-checkbox id="isPlanning" class="checkbox-inline" name="isPlanning" (change)="keytype()" [(ngModel)]="isPlanning">
                    ใช้คำนวณแผน
                  </clr-checkbox>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="planningMethod">รูปแบบแผน</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="select">
                    <select id="planningMethod" name="planningMethod" (change)="keytype()"[(ngModel)]="planningMethod">
                      <!-- <option value="">ไม่ระบุ</option> -->
                      <option value="1">Min/Max</option>
                      <option value="2">EOQ</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label for="minQty">Min Qty</label>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <input type="number" name="minQty" style="width: 100%; text-align: right;" (keyup)="keytype()" [(ngModel)]="minQty">
                </div>

                <!-- <div class="col-lg-1 col-md-1"></div> -->
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label for="maxQty">Max Qty</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <input type="number" name="maxQty" style="width: 100%; text-align: right;" (keyup)="keytype()" [(ngModel)]="maxQty">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                  <label for="eoqQty">EOQ Qty</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <input type="number" id="eoqQty" name="eoqQty" style="width: 100%; text-align: right;" (keyup)="keytype()" [(ngModel)]="eoqQty">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label for="orderingCost">ต้นทุนซื้อ (EOQ)</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <input type="number" id="orderingCost" name="orderingCost" (keyup)="keytype()" style="width: 100%; text-align: right;" [(ngModel)]="orderingCost">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label for="carryingCost">ต้นทุนเก็บรักษา (EOQ)</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <input type="number" id="carryingCost" name="carryingCost" (keyup)="keytype()" style="width: 100%; text-align: right;" [(ngModel)]="carryingCost">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-block">
            <div class="card-text">
              <div class="form-group row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <label for="txtDiscription">รายละเอียดอื่นๆ</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                  <textarea name="txtDescript" id="txtDiscription" [(ngModel)]="description" (keyup)="keytype()" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button class="btn btn-success btn-sm" (click)="save()" [disabled]="isSaving || !genericName || !typeId || !primaryUnitId || !isType">
                    <clr-icon shape="plus"></clr-icon> บันทึก
                  </button>
                  <button class="btn btn-danger btn-sm" routerLink="/admin/generics">
                    <clr-icon shape="home"></clr-icon> กลับหน้าหลัก
                  </button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="form-block">







          <br>
          <div class="form-group row">



          </div>



          <div class="form-group row">

            <!-- <div class="col-lg-1 col-md-1"></div> -->

          </div>




        </section>
      </form>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink id="link1">UOM Conversions</button>
    <clr-tab-content *clrIfActive>
      <wm-uom [genericId]="genericId"></wm-uom>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Planning</button>
    <clr-tab-content *clrIfActive>
      <wm-generic-planning [genericId]="genericId"></wm-generic-planning>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>คลังรับสินค้า</button>
    <clr-tab-content *clrIfActive>
      <wm-receive-planning [genericId]="genericId"></wm-receive-planning>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<wm-loading #loadingModal></wm-loading>