<clr-main-container>
  <div class="login-wrapper">
    <form class="login">
      <label class="title">
        Material Management&#174;
      </label>
      <div class="login-group">
        <input autocomplete="off" (keypress)="enterLogin($event)" class="username" [(ngModel)]="username" type="text" name="login_username" placeholder="Username">
        <input (keypress)="enterLogin($event)" class="password" [(ngModel)]="password" type="password" name="login_password" placeholder="Password">
        <div class="error active" *ngIf='isError'>
          {{ errorMessage }}
        </div>
        <div style="text-align: center" *ngIf="isLogging">
          <span class="spinner spinner-inline">
            Loading...
          </span>
          <span>
            Logging in...
          </span>
        </div>
        <button type="button" (click)="doLogin()" class="btn btn-primary" [disabled]="!username || !password || isLogging">LOG IN</button>
      </div>
    </form>
  </div>
</clr-main-container>