<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">กลุ่มเวชภัณฑ์ยา</span>
</nav>

<button type="button" class="btn btn-sm btn-success" (click)="addNew()">+ เพิ่มรายการ</button>
<clr-datagrid [clrDgLoading]="loading" [style.height.%]="85">
  <clr-dg-column [clrDgField]="'group_code'">รหัสกลุ่มเวชภัณฑ์</clr-dg-column>
  <clr-dg-column [clrDgField]="'group_name'">กลุ่มเวชภัณฑ์</clr-dg-column>
  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let t of groups" [clrDgItem]="t">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="edit(t)">
          <clr-icon shape="note" class="is-error"></clr-icon>แก้ไขข้อมูล</button>
      <button class="action-item" (click)="remove(t)">
          <clr-icon shape="trash" class="is-error"></clr-icon>ลบข้อมูล</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{t.group_code}}</clr-dg-cell>
    <clr-dg-cell>{{t.group_name}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
  <h3 class="modal-title">เพิ่ม/แก้ไข กลุ่มเวชภัณฑ์</h3>
  <div class="modal-body">

    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="groupCode">รหัสกลุ่มเวชภัณฑ์</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="groupCode" [(ngModel)]="groupCode" placeholder="เว้นว่างเพื่อสร้างรหัสอัตโนมัติ">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="groupName">ชื่อกลุ่มเวชภัณฑ์</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="groupName" [(ngModel)]="groupName" placeholder="">
          </div>
        </div>
      </section>
    </form>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!groupName">
            บันทึก
        </button>
    <button type="button" class="btn btn-danger-outline" (click)="opened = false">
            ปิด
        </button>
  </div>
</clr-modal>