<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">ข้อมูล Units</span>
</nav>

<clr-datagrid [clrDgLoading]="loading" [style.height.%]="88">
  <clr-dg-column >รหัส</clr-dg-column>
  <clr-dg-column>หน่วยสินค้า</clr-dg-column>
  <clr-dg-column [style.width.px]="50">Base Unit</clr-dg-column>
  <clr-dg-column [style.width.px]="50">Active</clr-dg-column>
  <clr-dg-column>#</clr-dg-column>
  <clr-dg-row class="newLine">
    <clr-dg-cell>
      <input #inputUnitCode type="text" [(ngModel)]="unitCode" placeholder="..." style="text-align: left; width: 100%;">
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" [(ngModel)]="unitName" placeholder="..." style="text-align: left; width: 100%;">
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
        <clr-checkbox name="isPrimary" [(ngModel)]="isPrimary"></clr-checkbox>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <clr-checkbox name="isActive" [(ngModel)]="isActive"></clr-checkbox>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <div class="tooltip tooltip-xs tooltip-left">
          <button class="btn btn-sm btn-success wm-small-btn" (click)="save()"
          [disabled]="!unitCode || !unitName || loading">
            <clr-icon shape="floppy"></clr-icon>
          </button>
          <span class="tooltip-content center">แก้ไข</span>
        </div>
        <div class="tooltip tooltip-xs tooltip-right">
          <button class="btn btn-sm btn-danger wm-small-btn" (click)="cancelEdit()">
            <clr-icon shape="refresh"></clr-icon>
          </button>
          <span class="tooltip-content center">ยกเลิก</span>
        </div>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row *ngFor="let unit of units; let idx = index" [clrDgItem]="unit" [class.editLine]="unit.is_edit === 'Y'">
    <clr-dg-cell style="text-align: center;">{{unit.unit_code}}</clr-dg-cell>
    <clr-dg-cell>{{unit.unit_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="tooltip tooltip-sm tooltip-left center">
        <clr-icon *ngIf="unit.is_primary === 'Y'" shape="check" class="is-success"></clr-icon>
        <span class="tooltip-content center" >Base Unit</span>
      </div>
      <div class="tooltip tooltip-sm tooltip-right center">
        <clr-icon *ngIf="unit.is_primary === 'N' || !unit.is_primary" shape="close" class="is-danger"></clr-icon>
        <span class="tooltip-content center" >ไม่ใช่ Base Unit</span>
      </div>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <!-- <clr-icon *ngIf="unit.is_active === 'Y'" shape="check" class="is-success"></clr-icon>
      <clr-icon *ngIf="unit.is_active === 'N' || !unit.is_active" shape="close" class="is-danger"></clr-icon> -->
    
      <div class="tooltip tooltip-sm tooltip-left center">
          <clr-icon *ngIf="unit.is_active === 'Y'" shape="check" class="is-success"></clr-icon>
          <span class="tooltip-content center" >ใช้งาน</span>
        </div>
        <div class="tooltip tooltip-sm tooltip-right center">
          <clr-icon *ngIf="unit.is_active === 'N' || !unit.is_active" shape="close" class="is-danger"></clr-icon>
          <span class="tooltip-content center" >ไม่ใช้งาน</span>
        </div>
    
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <div class="tooltip tooltip-xs tooltip-left">
          <button class="btn btn-sm btn-success wm-small-btn" [disabled]="unit.is_primary === 'Y'" (click)="setEditable(unit.unit_id)">
            <clr-icon shape="note"></clr-icon>
          </button>
          <span class="tooltip-content center">แก้ไข</span>
        </div>
        <div class="tooltip tooltip-xs tooltip-right">
          <button class="btn btn-sm btn-danger wm-small-btn" (click)="remove(unit)">
            <clr-icon shape="trash"></clr-icon>
          </button>
          <span class="tooltip-content center">ลบ</span>
        </div>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <!-- <clr-dg-footer> -->
<!-- <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems | number}} รายการ
  </clr-dg-footer> -->
</clr-datagrid>
<!-- 
<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
  <h3 class="modal-title">เพิ่ม/แก้ไข Unit</h3>
  <div class="modal-body">

    <form>
      <section class="form-block">
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="largeUnit">รหัส</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="unitCode" [(ngModel)]="unitCode" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="largeUnit">ชื่อหน่วย (ไทย)</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="unitName" [(ngModel)]="unitName" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="largeUnit">ชื่อหน่วย (Eng)</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="unitEng" [(ngModel)]="unitEng" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label for="isPrimary">&nbsp;</label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <clr-checkbox name="isPrimary" [(ngModel)]="isPrimary">
              Primary unit
            </clr-checkbox>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <clr-checkbox name="isActive" [(ngModel)]="isActive">
              ใช้งาน
            </clr-checkbox>
          </div>
        </div>

      </section>
    </form>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!unitName || !unitCode">
            บันทึก
        </button>
    <button type="button" class="btn btn-danger-outline" (click)="opened = false">
            ปิด
        </button>
  </div>
</clr-modal> -->