<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <span class="breadcrumb-item active">ชื่อสามัญ (Generics)</span>
</nav>

<button type="button" class="btn btn-sm btn-success" (click)="addNew()">+ เพิ่มรายการ</button>
<clr-datagrid [clrDgLoading]="loading" [style.height.%]="85">
  <clr-dg-column [clrDgField]="'generic_id'">รหัสเวชภัณฑ์</clr-dg-column>
  <clr-dg-column [clrDgField]="'generic_name'">ชื่อสามัญ</clr-dg-column>
  <clr-dg-column [clrDgField]="'drug_account_name'">ประเภท</clr-dg-column>
  <clr-dg-column [clrDgField]="'dosage_name'">Package</clr-dg-column>
  <clr-dg-column [clrDgField]="'type_name'">ชนิด</clr-dg-column>
  <!--<clr-dg-column [clrDgField]="'group_name'">กลุ่ม</clr-dg-column>-->

  <clr-dg-row *clrDgItems="let g of generics">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="editProduct(g)">แก้ไขข้อมูล</button>
      <button class="action-item" (click)="removeProduct(g)">ลบข้อมูล</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{g.generic_id}}</clr-dg-cell>
    <clr-dg-cell>{{g.generic_name}}</clr-dg-cell>
    <clr-dg-cell>{{g.drug_account_name}}</clr-dg-cell>
    <clr-dg-cell>{{g.dosage_name}}</clr-dg-cell>
    <clr-dg-cell>{{g.type_name}}</clr-dg-cell>
    <!--<clr-dg-cell>{{g.group_name}}</clr-dg-cell>-->
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<!-- new modal -->
<clr-modal [(clrModalOpen)]="openNew" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">เพิ่ม/แก้ไข ข้อมูลยา (Generic Medicine)</h3>
  <div class="modal-body">
    <form>
      <section class="form-block">
        <label>Generic Medicine</label>
        <div class="form-group row">
          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label for="txtGenericId">Generic ID</label>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <input class="form-control" type="text" [disabled]="isUpdate" name="txtGenericId" [(ngModel)]="genericId" placeholder="">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label for="txtGenericId" class="required">ประเภทยา</label>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <div class="select form-control">
              <select name="slType" id="drugAccountId" [(ngModel)]="drugAccountId">
                <option value=""></option>
                <option *ngFor="let t of drugAccounts" [value]="t.drug_account_id">{{ t.drug_account_name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="txtGenericName">Generic Name</label>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="txtGenericName" [(ngModel)]="genericName" placeholder="">
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="txtShortName">Short Name </label>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="txtShortName" [(ngModel)]="shortName" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="slType">Generic Type*</label>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <div class="select form-control">
              <select name="slType" id="slType" [(ngModel)]="typeId">
                <option value=""></option>
                <option *ngFor="let t of genericTypes" [value]="t.type_id">{{ t.type_name }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label class="required" for="slGroup">Generic Group </label>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
            <div class="select form-control">
              <select name="slGroup" id="slGroup" [(ngModel)]="groupId">
                <option value=""></option>
                <option *ngFor="let t of genericGroups" [value]="t.group_id">{{ t.group_name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="txtPackage">รูปแบบยา</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="select form-control">
              <select name="slPackage" id="slPackage" [(ngModel)]="dosageId">
                <option value=""></option>
                <option *ngFor="let t of genericDosages" [value]="t.dosage_id">{{ t.dosage_name }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="txtKeyword">Keyword </label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="txtKeyword" [(ngModel)]="keyword" placeholder="">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="txtDiscription">Description</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <textarea name="txtDescript" id="txtDiscription" [(ngModel)]="description" rows="2"></textarea>
          </div>

        </div>

      </section>
    </form>
  </div>
  <div class="modal-footer">
    <span class="spinner spinner-inline" *ngIf="isSaving">
      &nbsp;กำลังบันทึก...
    </span>
    <span *ngIf="isSaving">
        &nbsp;กำลังบันทึก...
    </span>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="isSaving || !drugAccountId || !typeId || !groupId || !dosageId || !description || !keyword || !genericName || !shortName">
      บันทึก
    </button>
    <button type="button" class="btn btn-danger-outline" (click)="openNew = false">
      ปิดหน้าต่าง
    </button>
  </div>
</clr-modal>