<div class="row">
  <div class="col-md-10">
    <form>
      <section class="form-block">
        <div class="form-group row">
          <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label>TMT</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="workingCode" [(ngModel)]="workingCode">
          </div> -->
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label>EDI Labeler Code(รหัสสินค้าจากผู้ผลิต)</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="ediLabelerCode" [(ngModel)]="ediLabelerCode">
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label>TMT</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <wm-search-tmt-code #searchTMT [tmtId]='tmtId' (onSelect)="setTmtCode($event)"
              (onChange)="setTmtCode($event)" style="display: inline-block;" class="wm-edit-box-number">
            </wm-search-tmt-code>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label>รหัส 24 หลัก (DC24)</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <wm-search-dc24-code #searchDC24 [dcId]='dcId' (onSelect)="setDC24Code($event)"
              (onChange)="setDC24Code($event)" style="display: inline-block;" class="wm-edit-box-number">
            </wm-search-dc24-code>
          </div>


          <div class="col-md-12">
            <button class="btn btn-sm btn-icon btn-success" (click)="save()">บันทึก </button>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
<wm-loading #loadingModal></wm-loading>